.navbg {
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: all 0.3s cubic-bezier(0.27, -0.04, 0.91, 0.85);
}
.navbghide {
  background: rgba(255, 255, 255, 0);
}
.titfont {
  transform: translateY(10%);
  opacity: 0;
}
.titfontact {
  transform: translateY(0);
  transition: opacity 1s cubic-bezier(0.27, -0.04, 0.91, 0.85),
    transform 1s cubic-bezier(0.27, -0.04, 0.91, 0.85);
  opacity: 1;
}
