html,
body {
  padding: 0;
  margin: 0;
  background-color: #1a1a26; /* 深蓝 */
  font-family: Noto Sans SC, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/box-sizing */
  box-sizing: border-box;
}

.navtitle {
  font-family: 'Hammersmith One', sans-serif;
}
.titlemax {
  font-family: 'Bangers', cursive;
}
.cnfont {
  font-family: 'ZCOOL XiaoWei', serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
可用字体
font-family: 'Bangers', cursive;
font-family: 'ZCOOL XiaoWei', serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Noto Sans SC', sans-serif;
*/

/* 用来测试样式效果的样式 */
.testborder1 {
  border: solid 1px red;
}
.testborder2 {
  border: solid 1px green;
}
.testborder3 {
  border: solid 1px blue;
}
.testbordermax {
  border: solid 5px yellowgreen;
}
