html,
body {
  padding: 0;
  margin: 0;
  /* 暗蓝 */
  background-color: #1a1a26;
  font-family: Noto Sans SC, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navtitle {
  font-family: 'Hammersmith One', sans-serif;
}
.titlemax {
  font-family: 'Mrs Sheppards', cursive;
}
.cnfont {
  font-family: 'ZCOOL XiaoWei', serif;
}
/* fstloading */
.loader {
  position: relative;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  display: block;
}

.loader_bubble::before {
  top: 0.7rem;
  left: 0.7rem;
  width: 0.6rem;
  height: 0.6rem;
  background: #f7f7ef;
  border-radius: 50%;
}

.loader_bubble {
  background-image: linear-gradient(-225deg, #3d4e81 0%, #5753c9 48%, #6e7ff3 100%);
  border-radius: 50%;
  transform-origin: 50% 50%;
  -webkit-animation: bubble 1200ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
  animation: bubble 1200ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@-webkit-keyframes bubble {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

@keyframes bubble {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
可用字体
font-family: 'Mrs Sheppards', cursive;
font-family: 'ZCOOL XiaoWei', serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Noto Sans SC', sans-serif;
*/

/* 用来测试样式效果的样式 */
.testborder1 {
  border: solid 1px red;
}
.testborder2 {
  border: solid 1px green;
}
.testborder3 {
  border: solid 1px blue;
}
.testbordermax {
  border: solid 5px yellowgreen;
}
